In [1]:
import pandas as pd
import os
import glob
directory_path = os.getcwd()
df = pd.DataFrame()

In [92]:
print("My current directory is : " + directory_path)
os.chdir(directory_path + "/Input_Data/Candidates")

My current directory is : C:\Users\Anand Kumar\BITS_AI_ML\Capstone_Project\Python_NB

In [93]:
#df = pd.read_csv('Candidate_Profile.csv', nrows=1000, on_bad_lines='skip')
#df = pd.read_csv('Candidate_Profile.csv', nrows=90000, engine='python', sep='","', names=["experience_id", "company", "description", "end_date","location", "start_date", "title", "user_id"])
#df = pd.read_csv('Candidate_Profile.csv', nrows=1100000, names=range(10), header=None)

df = pd.read_csv('Candidate_Profile.csv', nrows=1100000, engine='python', sep='","', names=range(11), header=None)

In [94]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"""experience_id",company,description,end_date,location,start_date,title,"user_id""",None,None,None
1,"""5",Microsoft,none,NaN,"Mumbai Area, India","{""month"":7,""year"":2018}","Partner Lead - Data & AI, India","1""",None,None,None
2,"""6",Microsoft,"??? Leading Partners Business, One Commercial...",NaN,"Mumbai Area, India","{""month"":7,""year"":2017}","Sr. Partner Development Manager, India","1""",None,None,None
3,"""7",Microsoft,??? Plan & execution of building partner capac...,"{""month"":7,""year"":2017}","Mumbai Area, India","{""month"":2,""year"":2016}",National Manager - Azure Partner Development,"1""",None,None,None
4,"""8",Microsoft,"Solution Sales, Technical Advisory & Channel ...","{""month"":2,""year"":2016}","Mumbai Area, India","{""month"":11,""year"":2013}",Solution Specialist - Data Platform & Analytics,"1""",None,None,None

In [96]:
df.columns=["experience_id", "company", "description", "end_date","location", "start_date", "title", "user_id","UN1","UN2","UN3"]

In [97]:
df['experience_id'] = df.experience_id.replace('"','', regex=True)
df['user_id'] = df.user_id.replace('"','', regex=True)

In [98]:
df.head()

,experience_id,company,description,end_date,location,start_date,title,user_id,UN1,UN2,UN3
0,experience_id,company,description,end_date,location,start_date,title,user_id,None,None,None
1,5,Microsoft,none,NaN,"Mumbai Area, India","{""month"":7,""year"":2018}","Partner Lead - Data & AI, India",1,None,None,None
2,6,Microsoft,"??? Leading Partners Business, One Commercial...",NaN,"Mumbai Area, India","{""month"":7,""year"":2017}","Sr. Partner Development Manager, India",1,None,None,None
3,7,Microsoft,??? Plan & execution of building partner capac...,"{""month"":7,""year"":2017}","Mumbai Area, India","{""month"":2,""year"":2016}",National Manager - Azure Partner Development,1,None,None,None
4,8,Microsoft,"Solution Sales, Technical Advisory & Channel ...","{""month"":2,""year"":2016}","Mumbai Area, India","{""month"":11,""year"":2013}",Solution Specialist - Data Platform & Analytics,1,None,None,None

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099976 entries, 0 to 1099975
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   experience_id  1099941 non-null  object
 1   company        1094809 non-null  object
 2   description    1092556 non-null  object
 3   end_date       903015 non-null   object
 4   location       613329 non-null   object
 5   start_date     1093655 non-null  object
 6   title          1093423 non-null  object
 7   user_id        1093433 non-null  object
 8   UN1            6 non-null        object
 9   UN2            2 non-null        object
 10  UN3            1 non-null        object
dtypes: object(11)
memory usage: 92.3+ MB

In [101]:
df_UN1 = df.loc[df['UN1'].notnull()]

In [104]:
drop_list = df[df['UN1'].notnull()].index.tolist()

In [105]:
drop_list

[96760, 718647, 819120, 843996, 900518, 1093458]

In [106]:
df.drop(index=drop_list, axis=0, inplace = True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1099970 entries, 0 to 1099975
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   experience_id  1099935 non-null  object
 1   company        1094803 non-null  object
 2   description    1092550 non-null  object
 3   end_date       903009 non-null   object
 4   location       613323 non-null   object
 5   start_date     1093652 non-null  object
 6   title          1093417 non-null  object
 7   user_id        1093428 non-null  object
 8   UN1            0 non-null        object
 9   UN2            0 non-null        object
 10  UN3            0 non-null        object
dtypes: object(11)
memory usage: 100.7+ MB

In [115]:
df.drop(['UN1','UN2','UN3'], axis =1, inplace = True)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1099970 entries, 0 to 1099975
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   experience_id  1099935 non-null  object
 1   company        1094803 non-null  object
 2   description    1092550 non-null  object
 3   end_date       903009 non-null   object
 4   location       613323 non-null   object
 5   start_date     1093652 non-null  object
 6   title          1093417 non-null  object
 7   user_id        1093428 non-null  object
dtypes: object(8)
memory usage: 75.5+ MB

In [134]:
df['user_id'].value_counts()

1018788    268
393105     168
30717      167
485885     110
65854       94
392720      89
581192      88
824091      87
11433       84
2126213     81
855412      79
3352072     69
1718351     67
1260824     65
78365       64
2509195     61
1255861     60
193879      60
228955      59
602298      58
2707568     57
2343400     56
505585      56
458082      55
1222960     54
          ...
1458559      1
3391936      1
1919870      1
2908312      1
1802685      1
3391743      1
862502       1
703797       1
2044176      1
1628920      1
1919463      1
2184889      1
2205031      1
2537733      1
1418957      1
1458889      1
2005947      1
2367172      1
2565110      1
2005905      1
1919134      1
3391056      1
2565183      1
2706023      1
user_id      1
Name: user_id, Length: 137880, dtype: int64

### Count the number of Users who have less than 5 entries

In [144]:
sub_df_less_5 = df.groupby('user_id').filter(lambda x : len(x)<5)

In [145]:
sub_df_less_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67644 entries, 0 to 1099949
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   experience_id  67644 non-null  object
 1   company        67642 non-null  object
 2   description    67330 non-null  object
 3   end_date       42248 non-null  object
 4   location       45263 non-null  object
 5   start_date     67194 non-null  object
 6   title          67640 non-null  object
 7   user_id        67644 non-null  object
dtypes: object(8)
memory usage: 4.6+ MB

## Picking the entries of those users who have a minimum of 5 entries 

### Under the assumption that these users are likely to have a detailed resume with more skill keywords.

In [146]:
DResume_df = df[df.groupby('user_id').user_id.transform('count')>4].copy()

In [147]:
DResume_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025784 entries, 1 to 1099957
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   experience_id  1025784 non-null  object
 1   company        1025716 non-null  object
 2   description    1023868 non-null  object
 3   end_date       859975 non-null   object
 4   location       567274 non-null   object
 5   start_date     1025672 non-null  object
 6   title          1025777 non-null  object
 7   user_id        1025784 non-null  object
dtypes: object(8)
memory usage: 70.4+ MB

## Seggregating Individual Contributor and Manager profiles

In [148]:
 df_IC = DResume_df[DResume_df["title"].str.contains("Manager|manager|Director|VP|SVP|Vice President|Head of|Head")  == False]

In [149]:
 df_Mgr = DResume_df[DResume_df["title"].str.contains("Manager|manager|Director|VP|SVP|Vice President|Head of|Head")  == True]

In [150]:
 pd.set_option("display.min_rows", 50)

In [151]:
df_Mgr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413074 entries, 2 to 1099955
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   experience_id  413074 non-null  object
 1   company        413071 non-null  object
 2   description    412347 non-null  object
 3   end_date       339954 non-null  object
 4   location       237074 non-null  object
 5   start_date     413029 non-null  object
 6   title          413074 non-null  object
 7   user_id        413074 non-null  object
dtypes: object(8)
memory usage: 28.4+ MB

In [152]:
df_IC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612703 entries, 1 to 1099957
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   experience_id  612703 non-null  object
 1   company        612640 non-null  object
 2   description    611514 non-null  object
 3   end_date       520017 non-null  object
 4   location       330197 non-null  object
 5   start_date     612636 non-null  object
 6   title          612703 non-null  object
 7   user_id        612703 non-null  object
dtypes: object(8)
memory usage: 42.1+ MB

In [155]:
df_Mgr.to_csv('Candidates_Mgr_profiles.csv', index = False)

In [156]:
df_IC.to_csv('Candidates_IC_profiles.csv', index = False)

### Mgr Profiles

In [157]:
Mgr_Desc = df_Mgr[['description','user_id']].copy()

In [158]:
Mgr_Desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413074 entries, 2 to 1099955
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   description  412347 non-null  object
 1   user_id      413074 non-null  object
dtypes: object(2)
memory usage: 9.5+ MB

In [159]:
Mgr_Desc['user_id'] = Mgr_Desc['user_id'].astype(int)
Mgr_Desc['description'] = Mgr_Desc['description'].astype(str)

In [179]:
Mgr_Desc_grouped = Mgr_Desc.groupby('user_id')
Mgr_Desc_Grp_Result = Mgr_Desc_grouped['description'].agg(lambda x: ','.join(str(v) for v in x))

In [180]:
Mgr_GDF = Mgr_Desc.groupby(['user_id'])['description'].apply(','.join).reset_index()

In [181]:
Mgr_GDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96317 entries, 0 to 96316
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      96317 non-null  int64
 1   description  96317 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [183]:
Mgr_GDF.to_csv('Mgr_profiles_grouped_by_userid.csv', index = False)

### IC Profiles

In [184]:
IC_Desc = df_IC[['description','user_id']].copy()
IC_Desc = IC_Desc.drop(IC_Desc.index[0])

In [185]:
IC_Desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612702 entries, 4 to 1099957
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   description  611513 non-null  object
 1   user_id      612702 non-null  object
dtypes: object(2)
memory usage: 14.0+ MB

In [187]:
IC_Desc['user_id'] = IC_Desc['user_id'].astype(int)
IC_Desc['description'] = IC_Desc['description'].astype(str)

In [188]:
IC_Desc_grouped = IC_Desc.groupby('user_id')
IC_Desc_Grp_Result = IC_Desc_grouped['description'].agg(lambda x: ','.join(str(v) for v in x))

In [189]:
IC_GDF = IC_Desc.groupby(['user_id'])['description'].apply(','.join).reset_index()

In [190]:
IC_GDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113155 entries, 0 to 113154
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      113155 non-null  int64
 1   description  113155 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

In [191]:
IC_GDF.to_csv('IC_profiles_grouped_by_userid.csv', index = False)

In [251]:
 df_IC_Tech = df_IC[df_IC["title"].str.contains("Sales|sales|Marketing|marketing|Business|Chief of Staff|Finance|Financial|School|Merchandising|Tutor|Professor|Founder|Talent|Acquisition|Hiring|Recruitment|Placement")  == False]

In [253]:
df_IC_Tech['company'].value_counts()

Microsoft                                                       32263
IBM                                                             27898
Infosys                                                         12696
Wipro Technologies                                               4062
Accenture                                                        3093
Tata Consultancy Services                                        2640
Wipro Limited                                                    2526
Infosys Technologies Ltd                                         2453
Wipro                                                            2366
Google                                                           2095
Oracle                                                           1863
Microsoft Corporation                                            1852
IBM Global Services                                              1726
Capgemini                                                        1501
Amazon                                                           1340
SAP                                                              1290
IBM Global Business Services                                     1267
HCL Technologies                                                 1128
Cognizant Technology Solutions                                   1098
Hewlett-Packard                                                  1065
Cognizant                                                        1002
Deloitte                                                          944
Dell                                                              901
Cisco                                                             827
Infosys Limited                                                   784
                                                                ...
Secem Scandinavia                                                   1
Seeker Hr Consulting Co.,Ltd                                        1
ROADMAP CONSULTING                                                  1
The Virtualization Practice,  LLC.                                  1
Zipongo                                                             1
ACM Business English                                                1
MercadoLibre.Com S.A.                                               1
Siemens Industry Software Romania                                   1
Selina                                                              1
Visilogix - Visible Logistics and Supply Chain                      1
ITC Fortune Hotels                                                  1
Coltec UFMG                                                         1
Shilpin consulting Pvt. Ltd.                                        1
Sai InfoSystem (India) Ltd.                                         1
ICIT (Institute for Critical Infrastructure Technology)             1
CYBRtoken.io                                                        1
21ct (Hubzone, small business)                                      1
Hewlett Packard Enterprise Security Products (HP ESP)               1
IBM - Internet Security Services (IBM-ISS)                          1
Cybertrust/Trusecure  (Formerly Three Pillars, Digital Mojo)        1
Key Technologies and Security, Inc. (KTSI)                          1
Roam7                                                               1
Hello Technology                                                    1
PSA Corp.                                                           1
Atlantis Project                                                    1
Name: company, Length: 186618, dtype: int64

In [254]:
df_IC_Tech['user_id'] = df_IC_Tech['user_id'].astype(int)
df_IC_Tech['description'] = df_IC_Tech['description'].astype(str)
df_IC_Tech['company'] = df_IC_Tech['company'].astype(str)

cols = df_IC_Tech.columns

<ipython-input-254-8da72675d51b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IC_Tech['user_id'] = df_IC_Tech['user_id'].astype(int)
<ipython-input-254-8da72675d51b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IC_Tech['description'] = df_IC_Tech['description'].astype(str)
<ipython-input-254-8da72675d51b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IC_Tech['company'] = df_IC_Tech['company'].astype(str)

In [255]:
for x in cols:
    if x != 'user_id':
        df_IC_Tech[x] = df_IC_Tech[x].astype(str)

<ipython-input-255-02cbf6d864fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IC_Tech[x] = df_IC_Tech[x].astype(str)

In [256]:
df_IC_Tech.columns[1:]

Index(['company', 'description', 'end_date', 'location', 'start_date', 'title',
       'user_id'],
      dtype='object')

### Defining a new Dataframe with relevant columns

In [257]:
df_IC_Tech_grp = df_IC_Tech.pivot_table(index="user_id", values=["description", "company", "title"], aggfunc=lambda x: ", ".join(x))

In [258]:
df_IC_Tech_grp

,company,description,title
user_id,,,
1,"Microsoft, Microsoft","none, Solution Sales, Technical Advisory & Ch...","Partner Lead - Data & AI, India, Solution Spec..."
146,"Microsoft, Credit Suisse, IBM, Bloomberg, Lond...","none, Senior Technical Architect within the Ri...","Cloud Native Compute Team Lead - EMEA, Technic..."
185,"Microsoft, Maersk Line, D-Link Networks","As Territory Services Executive, Craig display...","Services Executive - Territory Development, IS..."
220,"Microsoft, Microsoft, DEKA Research & Developm...","none, Driving high priority customer initiativ...","Cloud Architect - Data and AI, Data Solutions ..."
254,"Microsoft, Microsoft, Microsoft, Microsoft, Gr...",* Define business to technology strategy with ...,"Cross Domain Solution Architect, Architect, Sr..."
307,"Microsoft, Catapult Systems, Immedient, Genera...",I serve as the relationship manager for a set ...,"Account Executive, Senior Account Executive, C..."
332,Acclaim Entertainment,Member of the development team responsible for...,Associate Producer
333,"Microsoft, IBM","none, Enterprise Software Sales for WA, OR, ID...","Principal Solutions Specialist- Data and AI, S..."
404,"Silicone International Products, TATA Power",Set up a business venture to manufacture Indus...,"Partner & COO, Project Engineer"
405,"Microsoft, Microsoft, Intergen, Empired Ltd, E...","none, - Educate customers, partners, and selle...","Cloud Solution Architect (Data, AI & IoT), Te..."
442,"Microsoft, Microsoft Corporation India Pvt.Lt...",As a Business Manager for the Manufacturing an...,"Senior Account Executive, Account Technology S..."
462,Microsoft,none,Services Executive
463,"Microsoft, Microsoft, Microsoft, Microsoft",Creating content for Microsoft's Business Inte...,"Senior Content Developer, Sr. Escalation Engin..."
502,"Microsoft, Microsoft, Microsoft, Excell Data, ...",Skype for Business (formerly Microsoft Office ...,"Software Engineer, Microsoft Lync, Software De..."
608,"Taul Consulting Group, Inc.",Consulting to software-focused private equity ...,Managing Partner - CEO
664,Microsoft,During this period I've been the responsible o...,Local Software Economy Lead
715,"Microsoft, Microsoft",Responsible for driving customer and partner s...,"EMEA Lead for Data, AI & Analytics, Principal ..."
767,"CSC, CSC, CSC, CSC","none, none, none, none","Project Lead, Senior Software Engineer, Softwa..."
793,"Microsoft, Microsoft, Accenture/Unixpros, Conn...",Working together with our customers and partne...,Industry Technology Strategist - Retail and CP...
818,"IBM, Microsoft",Big Data???it's varied; it's growing; it's mov...,"Account Executive, Analytics - Healthcare & Li..."
837,"Microsoft, Microsoft","Enable and develop agile, creative, relevant, ...","Data & AI Principal Solution Specialist, Data ..."
861,"Mixbook, Path, Findery",Mixbook is the easy and fun way to make comple...,"Advisor, Advisor, Advisor"
916,Capitalstream,???\tDesigned new demonstration script and pre...,Industry Solutions Consultant
929,"Microsoft, Microsoft, Microsoft, Microsoft, Mi...",My main contribution was building from zero to...,"Architect, Information Management and Machine ..."
937,"Microsoft, University of Michigan, Microsoft, ...",Work with Microsoft partners and customers on ...,"Cloud Solution Architect - Data and AI, EECS 4..."
...,...,...,...
3431007,"Microsoft, Microsoft, Vanguard Group of Invest...",Assumed responsibility for developing analytic...,"Principal Quality Lead, Senior Quality Lead, S..."
3431008,DeepTrack Data Systems Pvt. Ltd.,none,Chief Operating Officer
3431010,"Infosys, Vodafone, Spice Telecom, Servion Glob...",Team Lead - L3 Production Support for Genesys ...,"Senior Consultant, Senior System Analyst, Seni..."
3431016,"DDS Wireless International, StrataGen Systems,...",DDS Wireless International is a diversified gl...,"Chief Executive Officer, President, Systems En..."
3431048,"PRIMUS Global, Personal, IDC Technologies, Inc...","none, Later will shay, IDC Technologies Inc, e...","Senior Technical Recruiter, Senior Recruiter, ..."
3431060,"ATIS - Asesores en TICS y Software, Microsoft,...","none, none, none, none, none","Gerente de soluciones, Equipo SWAT - Especiali..."
3431078,"TenantBase, Harry's, Inc., Amplify, MunEDA, In...",TenantBase is a tech enabled CRE brokerage fir...,"Senior Data Engineer, Tech Lead, Data Engineer..."
3431137,"Vodafone Idea Limited, Reliance Communications","none, Looking after the major key and named ac...","AGM and VH , CSM"
3431163,"IBM, Hewlett-Packard","none, none","Watson and Cloud Plaform Seller, Senior System..."
3431164,"Microsoft, AltspaceVR, Linden Lab, Howcast Med...",Created the World-Building Platform that allow...,"Senior Software Engineer, Senior Software Engi..."
3431300,Oracle Financial Services Software,???\tDeveloped various components for CitiBank...,Software Development Engineer
3431304,"Chubb, Chubb, IBM, eComServer","none, Delivery:\n???\tDesigned and supported d...",Commercial Insurance (Middle Market) Chief Arc...
3431310,"Capital One, SunTrust, Bank of America, Newgen...",Cloud Migration Program - Enterprise Shared Se...,"Delivery Lead, Information Delivery Lead, Data..."
3431344,"Appirio, CA Technologies, CA Technologies",I am a leader in project outcomes and results!...,"Enterprise Account Exec, LATAM Service Assuran..."
3431374,"Microsoft, Microsoft, Harley-Davidson Motor Co...",Mentoring sessions with MSSA Military classes....,"Microsoft Systems and Software Academy, Milita..."
3431378,"SAP, Rational Software, IBM",Programa de Canais e Parcerias para Am??rica L...,"SAP, Partner Rep, IBM"
3431399,"Citi, Oklahoma State University, Quadrant 4 Sy...",???\tValidate the technical and functional sou...,"Statistician AML, Graduate Teaching Assistant,..."
3431400,"Motorola, Tata Elxsi, Wipro InfoTech, Wipro In...","none, none, none, none","Software Systems Engineer, Senior System Softw..."
3431417,"Microsoft, Microsoft",Worked as an IC and lead on the Microsoft Exch...,"Lead Software Development Engineer In Test, So..."
3431509,"Axway, IBM Software Labs, SAP Labs, Informatic...",Core contributor to the product Axway Appceler...,"Principal Software Engineer, Staff Software En..."
3431528,"ANZ, ANZ, ANZ, IBM, Sundaram Infotech Solution...",Ahamed???s field of work includes Solution Con...,"Solution Architect (AI, Robotics, ML, Data), S..."
3431586,"L&T InfoTech, L&T Infotech, L&T Infotech, IIM ...","none, none, none, none, none, none, none, none","Lead Technology Architect, Data Management Con..."
3431617,"Microsoft, UC Berkeley, Microsoft AI & R, Micr...",Projects:\n1) Multi-task deep learning for bio...,"Data and Applied Scientist II - Cloud & AI, PH..."
3431619,"Bank of America, Kale Consultants Limited, CMS...","none, none, none, none, none","Senior Specialist, Mumbai as Associate Network..."
3431646,"IBM, Center for Global Health Engagement (CGHE...",The Consulting by Degrees (CbD) program is an ...,"Digital Strategy & iX Consultant , Research As..."

In [259]:
df_IC_Tech_grp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108131 entries, 1 to 3431646
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   company      108131 non-null  object
 1   description  108131 non-null  object
 2   title        108131 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

## Filtering based on Top IT Companies - to get Resumes related to IT Industry

In [260]:
df_IC_Tech_Top5 = df_IC_Tech_grp[df_IC_Tech_grp["company"].str.contains("Microsoft|Infosys|Wipro|Google")  == True]

In [261]:
df_IC_Tech_Top5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47835 entries, 1 to 3431617
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      47835 non-null  object
 1   description  47835 non-null  object
 2   title        47835 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [262]:
import numpy as np

In [263]:
df_IC_Tech_Top5_filt = df_IC_Tech_Top5[df_IC_Tech_Top5["description"].str.contains("None|none|NONE")  == False]

In [264]:
df_IC_Tech_Top5_filt

,company,description,title
user_id,,,
254,"Microsoft, Microsoft, Microsoft, Microsoft, Gr...",* Define business to technology strategy with ...,"Cross Domain Solution Architect, Architect, Sr..."
307,"Microsoft, Catapult Systems, Immedient, Genera...",I serve as the relationship manager for a set ...,"Account Executive, Senior Account Executive, C..."
463,"Microsoft, Microsoft, Microsoft, Microsoft",Creating content for Microsoft's Business Inte...,"Senior Content Developer, Sr. Escalation Engin..."
502,"Microsoft, Microsoft, Microsoft, Excell Data, ...",Skype for Business (formerly Microsoft Office ...,"Software Engineer, Microsoft Lync, Software De..."
664,Microsoft,During this period I've been the responsible o...,Local Software Economy Lead
715,"Microsoft, Microsoft",Responsible for driving customer and partner s...,"EMEA Lead for Data, AI & Analytics, Principal ..."
818,"IBM, Microsoft",Big Data???it's varied; it's growing; it's mov...,"Account Executive, Analytics - Healthcare & Li..."
837,"Microsoft, Microsoft","Enable and develop agile, creative, relevant, ...","Data & AI Principal Solution Specialist, Data ..."
929,"Microsoft, Microsoft, Microsoft, Microsoft, Mi...",My main contribution was building from zero to...,"Architect, Information Management and Machine ..."
937,"Microsoft, University of Michigan, Microsoft, ...",Work with Microsoft partners and customers on ...,"Cloud Solution Architect - Data and AI, EECS 4..."
997,"Microsoft, Microsoft, Microsoft, Attenda, Atte...",I work with large enterprises to make sure the...,Senior Cloud Solution Architect - Applications...
1083,"Microsoft, Slack, Microsoft",Big Data Cluster \nSQL Server 2019\nQuery Proc...,"Software Engineer Intern, Customer Experience ..."
1116,"Microsoft, University of Ulm, University of Ul...",I was technically leading the machine learning...,"Applied Researcher, Postdoctoral Researcher, P..."
1138,"Microsoft, Microsoft, Examiner.com, Pacific Ga...",As a Cloud Solution Architect at Microsoft bas...,"Cloud Solution Architect, Technology Solution ..."
1333,"Bear Creek Estates, Black Hawk Ranch, Microsof...","HOA President, Board of Directors member to Bl...","President, Board Member, Senior SQL/BI Archite..."
1349,"Google, Google, Microsoft, Esri",Advised enterprise customers in a three state ...,"Account Executive, Google Cloud, Account Execu..."
1482,"Microsoft, Accenture",- leading Independent Software Vendor (ISV) ec...,"ISV Channel Lead, Microsoft Dynamics, Asia, Co..."
1500,"Microsoft, Microsoft",Diretor de Vendas para o segmento de grandes e...,"Diretor Comercial - Grandes Empresas, Dynamics..."
1642,"Microsoft, Oracle Corporation",Product leader for consumer data + AI products...,"Partner / GM Product, Search Monetization, Per..."
1686,"Microsoft, Volt",Managed thousands of SQL servers for critical ...,"Database Engineer, Senior Software Engineer , ..."
1695,Microsoft,- Partner capacity to identify and recruit Par...,Directeur Partenaires Solutions
1787,"Microsoft, Soci??t?? G??n??rale, Soci??t?? G??...",Imagine Cup is a real adventure for computer s...,"Coach/Judge - Imagine Cup, Software Developmen..."
1852,"Microsoft, Microsoft, Microsoft, Microsoft, Mi...",Tapped by leadership to increase Microsoft dat...,"GROUP PROGRAM MANAGER, DATABASE MIGRATIONS , C..."
1853,Microsoft,Focus Areas\n\n- Artificial Intelligence (AI)\...,"GM, Perception Applications, Cloud & AI"
2076,"Microsoft, dbatools.io, IGS, Brent Ozar Unlimi...",Being a Premier Field Engineer at Microsoft me...,"Premier Field Engineer - Data & AI, Major Cont..."
...,...,...,...
3428857,Wipro Technologies Ltd.,Project Engineer Role;\n\nWorked with McGraw-H...,Project Engineer
3429043,"NICE Actimize, Lloyds Banking Group, Wipro Tec...",- Worked as a Solution Architect with a wide r...,"Solutions Architect, EMEA, Lead Solution Archi..."
3429283,"Virtusa, Infosys, Infosys, Infosys, Utiba, Ede...",Project 1\tSystem Transformation for BT MCS (M...,"Senior Consultant, Senior Associate Consultant..."
3429405,"Wipro Technologies, Larsen & Toubro Infotech",Onshore/Offshore deliveries lead for developme...,"Development Executive, Software Engineer"
3429422,"Microsoft, Microsoft, Microsoft, Microsoft, Un...","Develop consistent interaction design, specifi...","UX Design Researcher , UX Designer , Interacti..."
3429453,"Infosys, Infosys, Infosys, Goa Institute of Ma...","client : Canada Bread Company Ltd., Country Le...","Project Lead, Onsite Coordinator/Lead, Senior ..."
3429610,"PM Power Consulting, Cisco Systems, Infosys",Agile Evangelist and Strategy formulation for ...,"Principal Consultant, Agile Evangelist, Sr Sof..."
3429963,Microsoft,Account Executive For Public Sector Suisse Rom...,Account Executive
3429974,"Infosys Limited, Infosys, Satyam Computer Serv...",* Senior Architect with Data & Analytics (Clou...,"Sr. Technology Architect, Technology Architect..."
3429976,"Andea, Andea Solutions, Infosys Lodestone, Inf...",My key responsibilities in MES/MOM area are:\n...,"Senior Solution Architect, Solution Architect,..."
3430062,"Enova International, Enova International, Enov...",- Subject matter expert on Enova's business fu...,"TechOps Principal Engineer, Lead Engineer, Pro..."
3430123,"Capgemini, Infosys BPO",Managing team of 30 QA engineers placed in Ind...,"Process Lead, Subject Matter Expert"
3430218,"EY (Ireland), KPMG (India), Ernst & Young (Ind...",IT Risk Assurance - Financial Services Advisor...,"Senior Consultant, Consultant, Consultant, Ass..."
3430332,"Infosys, Infosys, Infosys, Infosys, Infosys, I...",???\tAs the SCM Cloud Lead within the SCM Comp...,"Principal Consultant in SCM Cloud Competency, ..."
3430582,"LG Electronics India Pvt Ltd, Wipro Technologies",???\tConducted consumer/market research and co...,Product Planning Associate - Flat Panel Displa...
3430691,"Google, Google, Inc. (on contract via ABE Serv...","Supported two teams of 100+, including a direc...","Administrative Assistant, Administrative Assoc..."
3430733,"Accenture, SYSTIME is now KPIT, IBM, HCL Techn...","Software Engineering Team Lead, Limagrain Upgr...","TL, Project Leader, JDE Consultant, Consultant..."
3430888,"Oxy, Denbury Resources Inc., Grainger, Texas I...",Environment - SAP Greenfield Implementation of...,"Sr.SAP Security/GRC Admin, Sr.SAP Security/GRC..."
3430931,"Google, Microsoft",Responsible for helping Enterprise customers g...,"Enterprise Account Executive - Google Cloud, A..."
3430977,"Yahoo, National Center for Supercomputing Appl...",Developing data monitoring solutions for Yahoo...,"Software Engineer, Graduate Research Assistant..."
3431010,"Infosys, Vodafone, Spice Telecom, Servion Glob...",Team Lead - L3 Production Support for Genesys ...,"Senior Consultant, Senior System Analyst, Seni..."
3431164,"Microsoft, AltspaceVR, Linden Lab, Howcast Med...",Created the World-Building Platform that allow...,"Senior Software Engineer, Senior Software Engi..."
3431374,"Microsoft, Microsoft, Harley-Davidson Motor Co...",Mentoring sessions with MSSA Military classes....,"Microsoft Systems and Software Academy, Milita..."
3431417,"Microsoft, Microsoft",Worked as an IC and lead on the Microsoft Exch...,"Lead Software Development Engineer In Test, So..."
3431509,"Axway, IBM Software Labs, SAP Labs, Informatic...",Core contributor to the product Axway Appceler...,"Principal Software Engineer, Staff Software En..."

In [265]:
Sample1 = df_IC_Tech_Top5_filt.sample(n = 200)

In [266]:
Sample2 = df_IC_Tech_Top5_filt.sample(n = 200)

In [267]:
Sample3 = df_IC_Tech_Top5_filt.sample(n = 200)

In [268]:
Sample1.to_csv('IC_IT_Tech_200_RandomSet_4.csv', index = False)

In [269]:
Sample2.to_csv('IC_IT_Tech_200_RandomSet_5.csv', index = False)

In [270]:
Sample3.to_csv('IC_IT_Tech_200_RandomSet_6.csv', index = False)

In [271]:
Sample1

,company,description,title
user_id,,,
605835,Microsoft,- Worked as technical evangelist for MSFT deve...,Technical Evangelist
3397465,"Wipro Technologies, Momentive Performance Mate...",Responsible for analysing functional specs wit...,"SAP TECHNICAL PROJECT MANAGER, SR CONSULTANT,..."
814473,"Microsoft, Microsoft, Microsoft, R-Style, Acti...",Creating and driving Big Data initiative withi...,"Big Data Champ, ATS Team Lead, Account Technol..."
14791,"Microsoft, Orpix Inc, Teradata, Trade Ideas LLC",Automated build language conversion\nAnalyzed ...,"Software Engineer, Software Development Contra..."
1417389,"Infosys, Deutche bank, TCS, Immense Source con...",Primarily involved in Trade Finance- Transform...,"Senior Associate Consultant, Senior Analyst, H..."
3015416,"Deepen AI, Joveo, Google, Google, Microsoft",We are a well-funded stealth mode startup work...,"Cofounder, Lead Engineer, Software Engineer, S..."
2280960,Microsoft,Datacenter backbone operations (infrastructure...,Solution Specialist - Cloud & Mobility
1728279,"Infosys, EY, St. Xavier's College","Performance Management, Key engagements includ...","Practice Lead Organization Development, Senior..."
238141,"Securetech, Tech Mahindra, Microsoft Corp, Wip...",SecureTech is a major information and communic...,"Enterprise Solution Architect, Sr. Technical A..."
502078,"CleverInsight, Hash Research, HashResearch, Ha...",* Working on areas such as Recommendation syst...,"Chief Data Scientist, Principal\tData Scientis..."
835581,"Ciao GmbH (a subsidiary of Microsoft), Calder","-Ongoing maintenance, permanent update and ext...","Content Specialist- LeGuide Group, Customer S..."
242227,"Twitter, A9.com, Microsoft, University of Illi...",Notification relevance and infrastructure\nSea...,"Software Engineer, Tech Lead, Software Enginee..."
2926171,"Union Bank of India, S P Jain Center of Manage...",???\tMarket making for $/Re in Fx Spot market ...,"Fx Trader, MBA, Product Analyst, Analyst"
2293845,"Wipro Technologies, Infosys Technologies Ltd, ...",Working on Base24-eps 2.1/9.2 HP NonStop Platf...,"Technical Lead at Wipro, Technology Analyst, S..."
322678,"Microsoft, Zensar, Zensar, Fulcrum Logic, MSC ...",As consultant has worked on all the phase of s...,"Consultant, Team Lead, Senior Consultant, Seni..."
3053908,"Microsoft Corporation, Volt Technical Resources",Responsible for data center projects and infra...,"Systems Engineer, Systems Analyst"
1626141,"Microsoft, IT OT Consulting, Anglo Platinum, I...",Helping Manufacturing and Resources organisati...,"MEA Industry Executive - M&R, Helping Organisa..."
1063553,Global IoT/Big Data/Cloud/Blockchain/AI Consul...,???\tIncubated and nurtured advanced practices...,"Practice Leader, Chief IoTologist, IoT/Big Dat..."
2530154,"Wipro, Protiviti, Tata Consultancy Services, C...",???\tAudit Optimization\no\tAssisting in prepa...,"Technical Lead - Cyber Security, Senior Consul..."
338600,"Microsoft, Microsoft, N&B Consulting, Mafoi Ma...","- Staffing for Online Services Division , hiri...","Staffing Consultant - Microsoft Engineering , ..."
407064,"DCS Corp, New Century Health, CareMore Health ...","Naval Air Weapons Station, China Lake, Assessm...",Information Management Officer/System Engineer...
276612,"Fireflies.ai , Microsoft, Weiss Tech House, Ri...",https://fireflies.ai\n\nFireflies.ai is an ent...,"CEO, Product Management, Penn Innovation Confe..."
3037533,"Infosys, IBM, Siemens Technology India, Accent...","nan, Worked on projects edison, italy.npower,s...","Lead Consultant SAP ISU @ Infosys, Sap isu con..."
3431010,"Infosys, Vodafone, Spice Telecom, Servion Glob...",Team Lead - L3 Production Support for Genesys ...,"Senior Consultant, Senior System Analyst, Seni..."
597481,"Gusto!, Microsoft, Microsoft, Gelber Group LLC","Making Payroll, HR, Accounting delightful.\n\n...","Full Stack Engineer, Software Engineer, Softwa..."
...,...,...,...
266485,"Microsoft, Microsoft, Microsoft, Microsoft, Ad...",Principal Engineering Manager [GPM] in the Mic...,Principal Group Software Engineering & PM Lead...
1463805,"Wipro, Atkins, Activa Certifications Pvt.Ltd",Handling Project Management for Application Ma...,"Information Technology Consultant, QSE Analyst..."
2633572,"Test Triangle Ltd, Intellect Design Arena Ltd,...","??? Provide Requirement Analysis, Technical Fe...","Product Solutions Architect, Technical Solutio..."
1284934,"EY, Infosys","Digital, Data and Analytics leader for Innovat...","Partner/Principal, Senior Client Partner - Ret..."
537401,"Teradata, Jio, Ericsson, Jio, Microsoft",Design Teradata Product deployment on AWS/AZUR...,"Cloud specialist ( IntelliCloud), Devops Lead ..."
2273315,"Wipro Digital, Clear Channel UK, Cognizant Tec...","???\tWorked as Principal Architect, specialize...","Principal Digital Architect, Cloud Enterprise ..."
412692,"Microsoft, Microsoft, Microsoft, Microsoft Cor...",Microsoft was losing engaged consumers from it...,"Senior Design Research Lead, Incubation projec..."
2244533,"Visma, Wipro, Visma",???\tCustomer Care Consultant\n???\tGeneral sa...,"Customer Care Consultant, Information Technolo..."
3136366,"Walmart eCommerce, Atlassian, PayPal, PayPal, ...","??? As part of electrode io platform team, my ...","Staff Software Engineer, Senior Developer, Mem..."
1440998,"Microsoft, Microsoft / Atmospheres, Microsoft ...","Evang??lisation, formation et consulting en Bt...","Consultant/Formateur IT - Microsoft/Seagate, R..."
1956802,"Montego Services LLC, PACKT PUBLISHING LIMITED...",Hired to give a written assessment of current ...,"Senior SharePoint Consultant, Author, CEO, Pri..."
120512,"MSNBC.com, MSNBC.com, MSNBC.com, Microsoft, CB...",Oversaw 30 MSNBC.com staff and facilities at N...,"Deputy Editor, Partners & Strategy, Acting Edi..."
589718,"Palantir Technologies, Microsoft, John Deere, ...",Empowering the business by improving the Excha...,"Office 365 Messaging Architect, Exchange/O365 ..."
192035,"GITCA, Microsoft Communities, Invsetcorp Bank,...",I am currently volunteering as GITAC (previous...,"GITCA Country Lead Volunteer Pakistan, Most Va..."
1476177,"ABN AMRO Bank N.V., Infosys Consulting, Infosy...",1.Perception Analysis (ML) - Developed machine...,"Data Scientist, Senior Consultant - AI Labs, C..."
721856,"F5 Networks, F5 Networks, Spirent Communicatio...",Focused on Cloud/SDDC technologies. Developin...,"Solution Architect, Principal Solutions Engine..."
263673,"The Woof Life Show, Factual Inc, WOOF! Seattle...",Host and creator of The Woof Life Show podcast...,"Host & Creator, Senior Location Strategist, ce..."
2471506,"Allergan, Keynote Speaker, Wipro, Medtech Brid...",Oversight of the safety aspects for pre-market...,"Medical Safety Physician - Devices, Thought Le..."
2189801,"Infosys, Infosys, Infosys, Infosys, Godrej Inf...",Project Title: Infrastructure and operation Ma...,"Technology Analyst, Senior System Engineer, Sy..."
1634034,Wipro Ltd,'Dealer Management Executive?? in the Communic...,Dealer Management Executive
1626173,"Infosys, Aetna, Revature, Queens College",> I have been working closely with clients on-...,"Senior Associate, Associate Software Developer..."
3353012,"Infosys Technologies Ltd, Usha Beltron Limited",Onsite-offshore work coordination (Development...,"Systems Analyst, Automation Engineer"
704330,Microsoft Corporation India,"???\tLead Solutions Sales in Health care , Edu...",Account Executive South India -Healthcare and ...
1607702,"QualEx Systems, Wipro Consulting, New York Sta...",???\tResponsible for Revenue and Bottom Line.\...,"CEO, Principal Consultant, Consultant, Softwar..."
1890279,"Cognizant Technology Solutions, Infosys Techno...","Responsible for the P&L, Relationship manageme...","Client Partner - Life Sciences, North America,..."

### Extracting IT Resumes from a Kaggle Dataset

In [2]:
print("My current directory is : " + directory_path)
os.chdir(directory_path + "/Input_Data/Resume_Data_Kaggle/Resume")

My current directory is : C:\Users\Anand Kumar\BITS_AI_ML\Capstone_Project\Python_NB

In [3]:
ITR_df = pd.read_csv('Resume.csv')

In [4]:
ITR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2484 non-null   int64
 1   Resume_str   2484 non-null   object
 2   Resume_html  2484 non-null   object
 3   Category     2484 non-null   object
dtypes: int64(1), object(3)
memory usage: 77.8+ KB

In [5]:
ITR_df['Category'].value_counts()

INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
FINANCE                   118
ADVOCATE                  118
ACCOUNTANT                118
ENGINEERING               118
CHEF                      118
AVIATION                  117
FITNESS                   117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: Category, dtype: int64

In [7]:
Infotech_df = ITR_df[ITR_df["Category"] == "INFORMATION-TECHNOLOGY"]

In [8]:
Infotech_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 217 to 336
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           120 non-null    int64
 1   Resume_str   120 non-null    object
 2   Resume_html  120 non-null    object
 3   Category     120 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.7+ KB

In [9]:
os.chdir(directory_path + "/Input_Data/")

In [10]:
Infotech_df.to_csv('Kaggle_InfoTech_resumes_120.csv')